<div class="ui input {{inputIconsClassNames}}">
  {{#if icon}}
    <i class="left {{icon}} icon"></i>
  {{/if}}
  {{input
    type="text"
    placeholder=placeholder
    key-down=(action "onInputKeyDown")
    focus-in=onFocusIn
    focus-out=onFocusOut
  }}
  {{#if showClearButton}}
    <i class="right {{clearIcon}} link icon" {{action "execute" "clear"}}></i>
  {{/if}}
</div>
